@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html { 
	font-size: 10px
	
 }



.logo-container {
	width: 28.7rem;
	height: 8.2rem;
	background-color: red;
	font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 6rem;
    line-height: 6.9rem;
    letter-spacing: -0.05em;
    color: white;
    text-align: center;
    margin-bottom: 3.8rem;

}

#current_date_time_block {

	width: 27rem;
	height: 3rem;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3rem;
	font-feature-settings: 'calt' off, 'liga' off;
	color: black;
	text-align: center;
	display: inline;

}

.time span {

	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3rem;
	font-feature-settings: 'calt' off, 'liga' off;
	color: black;
	text-align: center;
	margin-left: 2px;

}

.header {
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}



.body {
	background-color: white;
	
}
.main {
	width: 60vw;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3rem;
	font-feature-settings: 'calt' off, 'liga' off;
	min-height: calc(95vh - (30rem + 3rem));
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content:center;
	margin: auto;
}
.controls {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.controls img {
	width: 2rem;
	height: 0.4rem;
	margin-left: 1rem;
}

.text-container {
	width: 26rem;
	height: 39rem;
	overflow: auto;
	margin-left: 2rem;
	

}
.text-container h2 {
	font-size: 2.5rem;
}

.footer-section {
	text-align: center;
	
}
.archive {
	display: inline-block;
	margin-top: 20px;
}
.archive h2 {
	color: white;
	background-color: red;
	font-size: 2rem;
}

.footer-section span {

	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3rem;
	font-feature-settings: 'calt' off, 'liga' off;
	text-decoration: none;
	color: black;
	margin-right: 1rem;


	
}

.footer-section span  a {
	text-decoration: none;
	color: black;

	
}

.footer-section a:hover {
	background-color: red;
	color: white;
}




@media screen and (max-width: 1000px) {
 
	
	.main {
		flex-direction: column;
	}

	.header {
		height: 18rem;
	}

	.text-container {
		
		overflow-y: scroll;

	}
}