



html {
  font-size: 1.3rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body {
  background-color: #F2F2F2;
}
.logo h1 {
  color: #324759;
  text-decoration: none;
  font-size: 2.5rem;
}
.menu ul {
  padding: 0;
  margin-left: 0;
  font-size: 1.2rem;
  display: flex;
  
}
.menu li{

  list-style-type: none;
  margin-right: 1rem;
}
.page a {
	text-decoration: none;
}
.page a:hover {
  text-decoration: underline;
  color: #657A8C;
}
.page ul {
	list-style: none;
}

.posts {
  border: 1px solid #657A8C;
  border-radius: 1rem;
  padding: 1rem;		
}
.posts li {

	list-style: none;
	margin-top: 0.5rem;

}

.posts a {
  color: #8C764D;
}

.posts a:hover {
  color: #BFB26F;
}

.information h2 {
  font-size: 1.8rem;
  margin-top: 0;
}

.information p {
  font-size: 1.1rem;
  line-height: 1.5;
}