.page {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto;
  grid-gap: 1rem 1rem;
  height: 100vh;
  grid-template-areas: 
    "header header header"
    "photo content links"
    "footer footer footer"
}

.header {
  grid-area: header;
}
.photo {
  grid-area: photo;
  place-self:center;
}
.content {
  grid-area: content;
}
.links {
  grid-area: links;
  place-self:center;
}
.footer {
  grid-area: footer;
}
