@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');


.header-container {
	width: 100%;
	height: 140px;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	font-family: 'Roboto';
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: #E50043;
	justify-content: space-between;

}

.header-container li {
	display: inline;

}

#header-content {
	margin-left: 50px;
}

#header-links a {
	text-decoration: none;
	color: #E50043;
}
#header-links {
	margin-right: 50px;
}

.image-container  {
	height: 950px;
	width: 100%;
	margin-top: 140px;
	background-image: url(../img/evian_origins_logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
  }

  .image-container h1 {
  	font-family: 'Roboto';
  	font-size: 100px;
    line-height: 115px;
    color: #E50043;


    
  }

 .text {
 	display: flex;
 	justify-content: center;
 	
 } 
 .text-container {

  	width: 1040px;
    height: 280px;
    border: 3px solid #F8BFC7;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.05em;
    position: absolute;
    margin-top: 150px;
    padding: 24px;
    
       
 }

.text-container h2  {
	text-align: left;
	margin-bottom: 3px;

}

.text-container p {
	text-align: left;
}

.icons {
    margin-top: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}


.icons-container div {

	text-align: center;
	display: inline-block;
	width: 281px;
    height: 863px;
}

.icons-container p {
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 29px;

}
.icon-two {
	margin-left: 100px;
	margin-right: 100px;
}

.description {
	display: flex;
	justify-content: center;
}
.description-container {

    width: 1040px;
    height: 280px;
    border: 3px solid #F8BFC7;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 256px;
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 29px;
    padding: 30px;
    text-align: left;
    letter-spacing: 0.05em;


}

.description-container img {
	float: left;
	margin-right: 80px;
}

.description-container p {
	
	margin-top: 10px;

}

.footer-container {

	height: 140px;
	width: 100%;
	font-family: 'Roboto';
	font-size: 50px;
	line-height: 57px;
	background-color: #F8BFC7;
	display: flex;
	align-items: center;
	margin-top: 150px;


}

.footer-text {
	color: #FFFFFF;
	margin-left: 50px;
}